/* *******************************************RELOJ */
#exc-one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 700px;
  font-family: "Orbitron", sans-serif;
  background-color: var(--main-color);
  border-radius: 15px;
}
#exc-three {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
}
.countdown span {
  color: var(--fivety-color);
  margin: 0px;
}
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/clock4.png);
  background-size: cover;
  border: 3px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 70;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}
.clock .min,
.mn {
  width: 190px;
  height: 190px;
}

.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center */
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #777777;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
/* *********************************BUTTONS */
.buttons {
  display: flex;
}
.buttons button {
  width: 75px;
  height: 50px;
  margin: 0 10px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--secondary-color);
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
}
.buttons button:hover {
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 70%),
    inset 0 4px 7px rgb(0 0 0 / 50%);
  background-color: rgba(7, 21, 27, 0.8);
  cursor: pointer;
}
