* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main-color: #091921;
  --secondary-color: #f0db4f;
  --tertiary-color: #b6465f; /* 
  --fortiary-color: #e9e6ff; */
  --fortiary-color: #d1dae3;
  --fivety-color: #ec4e20;
  --font-size: 16px;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--main-color);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--tertiary-color);
  letter-spacing: 1px;
}
.light {
  background-color: var(--fortiary-color);
  transition: all 0.5s;
}
h1 {
  margin-bottom: 2rem;
}
/*****************************************************************SECTION EXERCISES*/
.excercises {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
.excercises h1 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.excercises section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.excercises hr {
  border-radius: 10px;
  border: 1px solid #091921;
  box-shadow: 0 -3px 5px rgb(255 255 255 / 10%), 0 5px 5px rgb(0 0 0 / 50%);
  margin: 5rem 0;
}
/*****************************************************************SECTION EXERCISES LIGHT*/
.excercisesLight h1 {
  color: var(--main-color);
}
.excercisesLight hr {
  border: 1px solid #cad3dc;
  box-shadow: 0 -3px 5px rgb(255 255 255 / 70%), 0 3px 5px rgb(0 0 0 / 23%);
}
/***********************************************************************hamburger menu*/
.header {
  background-color: var(--secondary-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
}
.header h1 {
  text-align: center;
  margin: 0px;
}
.header button {
  background-color: transparent;
  z-index: 100;
  border: none;
}
.header button:hover {
  cursor: pointer;
}
/************************************************************************** MENU LISTA */
#menu-button span {
  display: block;
  width: 33px;
  height: 5px;
  margin-bottom: 5px;
  z-index: 100;
  background: var(--tertiary-color);
  border-radius: 5px;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.span-two {
  opacity: 0;
}
.fijar-button {
  right: 1rem;
  top: 1.5rem;
  position: fixed;
  height: 20px;
}
.span-one {
  transform: rotate(45deg) translate(-2px, -7px);
  position: fixed;
}
.span-three {
  transform: rotate(-45deg);
  position: fixed;
}
.menu-list {
  position: fixed;
  left: -100%;
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 90;
  top: 0px;
  transition: transform ease 0.6s;
  padding-top: 3.5rem;
}
.open-menu {
  transform: translate(100%);
}
.menu-list li {
  text-align: center;
  list-style: none;
}
.menu-list li:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}
.menu-list li a {
  display: grid;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: var(--secondary-color);
}
/* ********************************************************************************RELOJ */
#exc-one {
  justify-content: space-around;
  font-family: "Orbitron", sans-serif;
}
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/clock4.png);
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #091921;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 70;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}
.clock .min,
.mn {
  width: 190px;
  height: 190px;
}
.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center */
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: var(--tertiary-color);
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: var(--fivety-color);
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
/* *******************************************RELOJ LIGHT MODE*/
.clockLight {
  border: 3px solid #cad3dc;
  box-shadow: 0 -15px 15px rgb(255 255 255 / 40%),
    0px 15px 15px rgb(0 0 0 / 30%), inset 0px -15px 15px rgb(255 255 255 / 40%),
    inset 0px 15px 15px rgb(0 0 0 / 20%);
}
/* *********************************BUTTONS */
.buttons {
  display: flex;
}
.buttons button {
  width: 75px;
  height: 50px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
}
.buttons button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
/* *********************************BUTTONS LIGH MODE */
.buttonsLight button {
  background-color: var(--fortiary-color);
  border: 3px solid #cad3dc;
  color: var(--main-color);
  /*box-shadow: 1 -4px 7px rgb(255 255 255 / 50%),
    0 -4px 7px rgb(255 255 255 / 10%), inset 0 4px 7px rgb(255 255 255 / 50%),
    inset 0 4px 7px rgb(0 0 0 / 10%); */

  background-color: var(--fortiary-color);
  border: 3px solid #cad3dc;
  color: var(--main-color);
  box-shadow: 0 -5px 10px rgb(255 255 255 / 70%),
    inset 0 -7px 9px rgb(255 255 255 / 60%), 0 10px 10px rgb(0 0 0 / 20%),
    inset 0 9px 9px rgb(0 0 0 / 20%);
}
.buttonsLight button:hover {
  filter: brightness(0.9);
}
/******************************************************************EVENTOS DE TECLADO*/
.container {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--tertiary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
  margin-bottom: 2rem;
}
.recuadro {
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 15%),
    inset 0 -4px 7px rgb(255 255 255 / 15%), 0 4px 7px rgb(0 0 0 / 50%),
    inset 0 4px 7px rgb(0 0 0 / 50%);
}
/******************************************************************EVENTOS DE TECLADO LIGHT MODE*/
.containerLight {
  background-color: var(--main-color);
  border: 1px solid var(--tertiary-color);
}
.containerLight .recuadro {
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}
/* *******************************************COUNTDOWN */
#exc-three {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
}
.countdown span {
  color: var(--fivety-color);
}
/****************************************************************************SCROLLTOP*/
.scrollTop {
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 15%),
    inset 0 -4px 7px rgb(255 255 255 / 15%), 0 4px 7px rgb(0 0 0 / 50%),
    inset 0 4px 7px rgb(0 0 0 / 50%);
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  animation: 1.5s subirBajar infinite alternate;
}
.scrollTop span {
  font-size: large;
  color: var(--main-color);
}
.scrollTop:hover {
  cursor: pointer;
  background-color: #ecc37d;
}
.scrollTopHidden {
  opacity: 1;
  visibility: visible;
  transition: opacity ease-in-out 0.8s;
}
@keyframes subirBajar {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
/**********************************************************************LIGHT MODE*/
label {
  position: fixed;
  top: calc(100vh - 45px);
  left: 10px;
  width: 75px;
  height: 35px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}
label input {
  appearance: none;
}
.sppan {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 35px;
  background-color: var(--main-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  transition: all 0.5s;
}
label input:checked ~ span {
  left: 38px;
}
label span .fa-lightbulb {
  color: rgba(255, 203, 116, 0.5);
  font-size: 1.2rem;
  transition: 0.5s;
}
label input:checked ~ span .fa-lightbulb {
  color: rgba(255, 203, 116, 1);
  filter: drop-shadow(0 0 5px #ffcb74) drop-shadow(0 0 10px #ffcb74)
    drop-shadow(0 0 15px #ffcb74);
}
/********************************************************************Light Mode 2*/
#light-mode2 {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 85px;
  height: 35px;
  background-color: #434543;
  background-image: linear-gradient(90deg, #434543 -100%, #070808 100%);
  box-shadow: inset 0px 0px 2px 3px #171717;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#light-mode2 input {
  appearance: none;
}
#light-mode2 p {
  position: absolute;
  width: 50%;
  height: 35px;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.I {
  visibility: hidden;
}

#light-mode2 input:checked ~ .I {
  left: 45px;
  visibility: visible;
}
#light-mode2 input:checked ~ .O {
  visibility: hidden;
}
#light-mode2 span .fa-lightbulb {
  color: rgba(255, 203, 116, 0.5);
  font-size: 1.2rem;
  transition: 0.5s;
}
#light-mode2 input:checked ~ span .fa-lightbulb {
  color: rgba(255, 203, 116, 1);
  filter: drop-shadow(0 0 5px #ffcb74) drop-shadow(0 0 10px #ffcb74)
    drop-shadow(0 0 15px #ffcb74);
}
/*****************************************************Responsive Tester*/
#exc-five {
  background-color: var(--main-color);
  border-radius: 10px;
  margin: auto;
}
#exc-five h1 {
  color: var(--secondary-color);
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--secondary-color) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: var(--secondary-color);
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--tertiary-color);
}
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  background-color: transparent;
}
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--tertiary-color);
  transform: translateY(-30px);
}
.btn-abrir,
.btn-cerrar {
  width: 100px;
  height: 50px;
  margin: 0 10px;
  background-color: #091921;
  border: 3px solid #091921;
  font-family: "Orbitron", sans-serif;
  color: var(--secondary-color);
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
}
.btn-abrir:hover,
.btn-cerrar:hover {
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 70%),
    inset 0 4px 7px rgb(0 0 0 / 50%);
  background-color: rgba(7, 21, 27, 0.8);
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/**************************************************************DETECCOIN DE CONEXION*/
.conexion {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  color: var(--fortiary-color);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 999999;
}
.conectado {
  background-color: green;
  display: flex;
}
.desconectado {
  background-color: var(--fivety-color);
  display: flex;
}
/***************************************************************KEYBOARD DARK MODE**/
.keyboardContainer {
  position: relative;
  background-color: #282828;
  box-shadow: 25px 25px 35px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.5),
    inset 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border: #000 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.keyboardContainer .secodn-line,
.first-line,
.third-line,
.fiveth-line,
.forth-line {
  display: flex;
  flex-direction: row;
}
.keyboardContainer span {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  color: var(--fivety-color);
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
}
.keyboardContainer .fiveth-line span {
  width: 60px;
}
.keyboardContainer span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 10px;
  right: 8px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 5px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0004;
}
.keyboardContainer span i {
  font-style: normal;
  position: relative;
  filter: drop-shadow(0 0 2px var(--fivety-color));
}
.keyboardContainer span:active {
  filter: brightness(1.5);
}
.active {
  filter: brightness(1.5);
  color: #070808;
}
.keyboardContainer .secodn-line .tab {
  width: 75px;
}
.keyboardContainer .first-line .left-arrow {
  width: 100px;
}
.keyboardContainer .third-line .caps {
  width: 97px;
}
.keyboardContainer .third-line .enter {
  width: 114px;
}
.keyboardContainer .forth-line .leftshift {
  width: 120px;
}
.keyboardContainer .forth-line .rightshift {
  width: 150px;
}
.keyboardContainer .fiveth-line .ctrl {
  width: 80px;
}
.keyboardContainer .fiveth-line .space {
  width: 350px;
  font-size: 3rem;
}
/***************************************************************KEYBOARD LIGTH MODE**/
.keyboardLight {
  background-color: #fafafa;
  border: #000 2px solid;
  border-radius: 10px;
  box-shadow: 25px 25px 35px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.keyboardLight span {
  color: var(--fivety-color);
  background: linear-gradient(180deg, #fafafa, #f4f4f4);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 1),
    10px 20px 25px rgba(0, 0, 0, 0.25);
}
.keyboardLight span::before {
  background: linear-gradient(90deg, #e6e6e6, #efefef);
  border-radius: 5px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  border-top: 1px solid #fff9;
}
.keyboardLight span::before {
  background: linear-gradient(90deg, #e6e6e6, #efefef);
  border-radius: 5px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  border-top: 1px solid #fff9;
}
.keyboardLight span:active {
  filter: brightness(0.9);
}
.keyboardLight span i {
  color: blue;
  list-style: none;
}
/*******************************************************************GEOLOCALIZACION*/
.datosLocalizacion p {
  font-size: 1.2rem;
  margin: 0.5rem;
}
/******************************************************************MEDIAS  QUERIES*/
@media (max-width: 950px) {
  .keyboardContainer {
    display: none;
  }
}
